* {
    margin: 0;
}

html, body {
    height: 100vh;
}

.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    color: #fff;
}
.container a {
    color: #fff;
    text-decoration: none;
}
.container .header-main {
    font-family: 'Rajdhani', sans-serif;
    font-size: 8rem;
    text-transform: uppercase;
    background: repeating-linear-gradient(white, white 2px, transparent 2px, transparent 4px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container .header-second {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 500px;
}


.container svg{
    width: 64px;
    height: 64px;
}


